# Дзен Python
- Красивое лучше, чем уродливое.
- Явное лучше, чем неявное.
- Простое лучше, чем сложное.
- Сложное лучше, чем запутанное.
- Плоское лучше, чем вложенное.
- Разреженное лучше, чем плотное.
- Читаемость важна.
- Особые случаи не настолько особые, чтобы нарушать правила.
- Хотя практичность важнее чистоты.
- Ошибки никогда не должны замалчиваться.
- Если только они не заглушены явно.
- Столкнувшись с неоднозначностью, откажись от искушения угадывать.
- Должен быть один — и желательно только один — очевидный способ сделать это.
- Хотя этот способ может быть неочевидным, если ты не Гвидо ван Россум.
- Сейчас лучше, чем никогда.
- Хотя никогда часто лучше, чем прямо сейчас.
- Если реализацию сложно объяснить — это плохая идея.
- Если реализацию легко объяснить — это, возможно, хорошая идея.
- Пространства имён — отличная штука — давайте использовать их чаще!

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
2 + 5

7

In [ ]:
2 + 5
'Hello'

'Hello'

In [ ]:
print(2 + 5)
print('Hello')

7
Hello

In [ ]:
print(2 + 5)
  print('Hello')

IndentationError: unexpected indent (ipython-input-69626984.py, line 2)

In [ ]:
if 1 < 2:
  print('Hello')

Hello

In [ ]:
print('Hello')
Print('Hello!')

Hello

NameError: name 'Print' is not defined

In [ ]:
# Вывод в консоль
print("Hello World")

Hello World

In [ ]:
print("Hello World") # Вывод сообщения в консоль

Hello World

In [ ]:
'''
И это комментарий, только многострочный
'''
print("Hello World")

Hello World

In [ ]:
message = 'Hello, Python!'
print(message)

Hello, Python!

In [ ]:
a = 2
b = 3
c = a + b
print(c)
print(a + b)

5
5

In [ ]:
_a_1 = 1
_a_2 = 2
aaaAAA1412_d = 'Hello'

# Ключевые слова забронированные Python
False	await	else	import	pass
None	break	except	in	raise
True	class	finally	is	return
and	continue	for	lambda	try
as	def	from	nonlocal	while
assert	del	global	not	with
async	elif	if	or	yield

In [ ]:
# Camel case
userName = 'Эдуард'

# Underscore notation
user_name = 'Эдуард'

In [ ]:
name = 'Eduard'
print(name)

name = 10
print(name)

Eduard
10

In [ ]:
x, y, z = 0, 1, 2
print(f'{x = }')
print(f'{y = }')
print(f'{z = }')

print(x)
print(y)
print(z)

x = 0
y = 1
z = 2
0
1
2

In [ ]:
MAX_CONNECTION = 5000

---

# Типы данных

## Целые числа - `int`

In [ ]:
print(f'{2 + 3 = }')
print(f'{2 - 3 = }')
print(f'{2 * 3 = }')
print(f'{3 / 2 = }')
print(f'{3 ** 3 = }')

2 + 3 = 5
2 - 3 = -1
2 * 3 = 6
3 / 2 = 1.5
3 ** 3 = 27

In [ ]:
print(f'{2 + 3 * 4 = }')
print(f'{(2 + 3) * 4 = }')

2 + 3 * 4 = 14
(2 + 3) * 4 = 20

In [ ]:
print(f'{2 + 2 * 2 = }')

2 + 2 * 2 = 6

## Вещественные числа - `float`

In [ ]:
print(f'{0.1 + 0.1 = }')
print(f'{0.2 + 0.2 = }')
print(f'{2 * 0.1 = }')
print(f'{2 * 0.2 = }')
print(f'{0.4 / 0.2 = }')

0.1 + 0.1 = 0.2
0.2 + 0.2 = 0.4
2 * 0.1 = 0.2
2 * 0.2 = 0.4
0.4 / 0.2 = 2.0

In [ ]:
print(f'{0.2 + 0.1 = }')
print(f'{3 * 0.1 = }')

print(f'{round(0.2 + 0.1, 1) = }')
print(f'{round(3 * 0.1, 1) = }')

0.2 + 0.1 = 0.30000000000000004
3 * 0.1 = 0.30000000000000004
round(0.2 + 0.1, 1) = 0.3
round(3 * 0.1, 1) = 0.3

In [ ]:
print(f'{4 / 2 = }')
print(f'{1 + 2.0 = }')
print(f'{2 * 3.0 = }')
print(f'{3.0 ** 2 = }')

4 / 2 = 2.0
1 + 2.0 = 3.0
2 * 3.0 = 6.0
3.0 ** 2 = 9.0

## Комплексные числа - `complex`

In [ ]:
comp = 3 + 4j
print(comp.real) # 3.0
print(comp.imag) # 4.0

3.0
4.0

In [ ]:
comp_1 = 3 + 4j
comp_2 = 2 + 5j
print(f'{comp_1 + comp_2 = }')
print(f'{comp_1 - comp_2 = }')
print(f'{comp_1 * comp_2 = }')
print(f'{comp_1 / comp_2 = }')

comp_1 + comp_2 = (5+9j)
comp_1 - comp_2 = (1-1j)
comp_1 * comp_2 = (-14+23j)
comp_1 / comp_2 = (0.896551724137931-0.24137931034482757j)

## Символы подчеркивания в числах

In [ ]:
print(f'{14_000_000_000 = }')
print(f'{14_000000_00_0 = }')

14_000_000_000 = 14000000000
14_000000_00_0 = 14000000000

## Логический тип - `bool` или Пустой тип - `NoneType`

In [ ]:
is_active = True
is_deleted = False

print(f'{10 > 5: }')
print(f'{10 == 5: }')

 1
 0

In [ ]:
10 > 5
print(type(10 > 5))

<class 'bool'>

In [ ]:
result = None
print(type(result))

<class 'NoneType'>

In [ ]:
if result is None:
  print('Yes!')

Yes!

## Строки - str

In [ ]:
print('Это строка')
print("И это тоже строка")

Это строка
И это тоже строка

In [ ]:
print('Я всегда говорю, что "Питон мой `любимый` язык"')

Я всегда говорю, что "Питон мой `любимый` язык"

In [ ]:
print("Питон мой 'любимый' язык")

Питон мой 'любимый' язык

In [ ]:
# Изменение регистра символов в строках
name = "иванов иван иванович"
print(f'{name.title() = }')

name.title() = 'Иванов Иван Иванович'

In [ ]:
name = "Иванов Иван Иванович"
print(f'Переводим в верхний регистр: {name.upper()}')
print(f'Переводим в нижний регистр: {name.lower()}')
print(f'Меняем регистры на противоположные: {name.swapcase()}')
print(f"{'иванов иван иванович'.capitalize() = }")

Переводим в верхний регистр: ИВАНОВ ИВАН ИВАНОВИЧ
Переводим в нижний регистр: иванов иван иванович
Меняем регистры на противоположные: иВАНОВ иВАН иВАНОВИЧ
'иванов иван иванович'.capitalize() = 'Иванов иван иванович'

In [ ]:
# иванов иван иванович -> иВАНОВ иВАН иВАНОВИЧ
name = "иванов иван иванович"

'''
name = name.title()
name = name.swapcase()
print(name)
'''

print(name.title().swapcase())
print('Иванов Иван Иванович'.swapcase())

иВАНОВ иВАН иВАНОВИЧ
иВАНОВ иВАН иВАНОВИЧ

In [ ]:
# Поиск и замена
example_text = "hello world hello"

print(f"{example_text.find('hello') = }")
print(f"{example_text.find('hello', 1) = }")
print(f"{example_text.rfind('hello') = }")
print(f"{example_text.find('python') = }")

example_text.find('hello') = 0
example_text.find('hello', 1) = 12
example_text.rfind('hello') = 12
example_text.find('python') = -1

In [ ]:
' '.join(f'{i}-{v}'for i, v in enumerate("hello world hello hello"))

'0-h 1-e 2-l 3-l 4-o 5-  6-w 7-o 8-r 9-l 10-d 11-  12-h 13-e 14-l 15-l 16-o 17-  18-h 19-e 20-l 21-l 22-o'

In [ ]:
example_text = "hello world hello"

print(f"{example_text.replace('hello', 'hi') = }")
print(f"{example_text.replace('hello', 'hi', 1) = }")

example_text.replace('hello', 'hi') = 'hi world hi'
example_text.replace('hello', 'hi', 1) = 'hi world hello'

In [ ]:
# Проверка содержимого
print(f"{'hello'.isalpha() = }")
print(f"{'123'.isdigit() = }")
print(f"{'hello123'.isalnum() = }")
print(f"{'   '.isspace() = }")
print(f"{'Hello World'.istitle() = }")
print(f"{'HELLO'.isupper() = }")
print(f"{'hello'.islower() = }")

print(f"{'hello'.startswith('he') = }")
print(f"{'hello'.startswith('el') = }")
print(f"{'world'.endswith('rld') = }")

'hello'.isalpha() = True
'123'.isdigit() = True
'hello123'.isalnum() = True
'   '.isspace() = True
'Hello World'.istitle() = True
'HELLO'.isupper() = True
'hello'.islower() = True
'hello'.startswith('he') = True
'hello'.startswith('el') = False
'world'.endswith('rld') = True

In [ ]:
# Разделение текста
example_text = "apple,banana,orange"
fruits = example_text.split(',')
print(f"{fruits = }\n")

print(f"{'Hello World Python'.split() = }")
print(f"{'one two three four'.split(' ', 2) = }\n")

fruits = ['apple', 'banana', 'orange']

'Hello World Python'.split() = ['Hello', 'World', 'Python']
'one two three four'.split(' ', 2) = ['one', 'two', 'three four']

In [ ]:
example_text = "apple,-!banana,-!orange"
fruits = example_text.split(',-!')
print(f"{fruits = }")

fruits = ['apple', 'banana', 'orange']

## f-string

In [ ]:
a, b = 10, 3

print(f"Сумма: {a + b}")
print(f"Разность: {a - b}")
print(f"Сравнение: {a > b}")
print(f"Вызов метода: {'hello'.upper()}")

Сумма: 13
Разность: 7
Сравнение: True
Вызов метода: HELLO

In [ ]:
def square(x):
  return x * x

print(f"Квадрат числа: {square(5)}")
print(f"Квадрат числа: {square(32)}")

Квадрат числа: 25
Квадрат числа: 1024

In [ ]:
# Целые числа
number = 42

print(f"Обычное: {number}")
print(f"С заполнением: {number:05d}")
print(f"С разделителем: {10**16} или {10**16:,}")
print(f"В двоичной: {number:b}")
print(f"В шестнадцатеричной: {number:X}")

Обычное: 42
С заполнением: 00042
С разделителем: 10000000000000000 или 10,000,000,000,000,000
В двоичной: 101010
В шестнадцатеричной: 2A

In [ ]:
# Дробные числа
pi = 3.14159265

print(f"Обычное: {pi}")
print(f"2 знака: {round(pi, 2)} или {pi:.2f}")
print(f"Процент: {0.75:.1%}")
print(f"Научная нотация: {10**16:.2e}")

Обычное: 3.14159265
2 знака: 3.14 или 3.14
Процент: 75.0%
Научная нотация: 1.00e+16

In [ ]:
# Выравнивание текста
text = "Python"
number = 42

print(f'|{text:<15}|')  # |Python  | - по левому краю
print(f'|{text:>15}|')  # |  Python| - по правому краю
print(f'|{text:^15}|')  # | Python | - по центру
print(f'|{number:>15d}|') # |    42| - числа тоже можно выравнивать

|Python         |
|         Python|
|    Python     |
|             42|

In [ ]:
# Выравнивание текста c заполением
text = "Python"

print(f'|{text:*<15}|')
print(f'|{text:->15}|')
print(f'|{text:=^15}|')

|Python*********|
|---------Python|
|====Python=====|

In [ ]:
# Табуляции и разрывы строк
print(f'Python')
print(f'\nPython') # \n
print(f'\tPython') # \t

Python

Python
	Python

In [ ]:
print("Languages:\nPython\nC\nJavaScript")

Languages:
Python
C
JavaScript

In [ ]:
print("Languages:\n\tPython\n\tC\n\tJavaScript")

Languages:
	Python
	C
	JavaScript

In [ ]:
# Удаление пропусков
print('python')
print(' python ')
print('python ')

python
 python
python

In [ ]:
example_text = ' python '
print(f'Исходный текст: _{example_text}_')
print(f'Текст без пробелов справа: _{example_text.rstrip()}_')
print(f'Текст без пробелов слева: _{example_text.lstrip()}_')
print(f'Текст без пробелов: _{example_text.strip()}_\n')

example_text = '***hello***'
print(f'Исходный текст: {example_text}')
print(f"{example_text.strip('*') = }")
print(f"{example_text.lstrip('*') = }")
print(f"{example_text.rstrip('*') = }")

Исходный текст: _ python _
Текст без пробелов справа: _ python_
Текст без пробелов слева: _python _
Текст без пробелов: _python_

Исходный текст: ***hello***
example_text.strip('*') = 'hello'
example_text.lstrip('*') = 'hello***'
example_text.rstrip('*') = '***hello'

In [ ]:
# Доступ к символам
example_text = 'Python'

print(f'{example_text[0] = }')
print(f'{example_text[2] = }')
print(f'{example_text[-1] = }')
print(f'{example_text[-2] = }')

example_text[0] = 'P'
example_text[2] = 't'
example_text[-1] = 'n'
example_text[-2] = 'o'

In [ ]:
print(f'{example_text[10] = }')

IndexError: string index out of range

In [ ]:
# Срезы - slice
example_text = 'Hello World'
print(f"{' '.join(f'{v:<4}' for v in example_text)}")
print(f"{' '.join(f'{i:<4}' for i in range(len(example_text)))}\n")

print(f'{example_text[0:5] = }')
print(f'{example_text[6:] = }')
print(f'{example_text[5:] = }')
print(f'{example_text[:5] = }')
print(f'{example_text[:] = }')
print(f'{example_text[::2] = }')
print(f'{example_text[::-1] = }')

H    e    l    l    o         W    o    r    l    d
0    1    2    3    4    5    6    7    8    9    10

example_text[0:5] = 'Hello'
example_text[6:] = 'World'
example_text[5:] = ' World'
example_text[:5] = 'Hello'
example_text[:] = 'Hello World'
example_text[::2] = 'HloWrd'
example_text[::-1] = 'dlroW olleH'

In [5]:
# Конкатенация (объединение)
str1 = "Hello"
str2 = "World"

print(f'{str1 + str2 = }\n')

result = str1 + " " + str2
print(f'{result = }\n')

print(f"{'Hi' * 3 = }")

str1 + str2 = 'HelloWorld'

result = 'Hello World'

'Hi' * 3 = 'HiHiHi'

In [8]:
# Проверка наличия подстроки
example_text = "Hello World"

print(f"Hello в строке: {'Hello' in example_text}")
print(f"Python в строке: {'Python' in example_text}")
print(f"world в строке: {'world' in example_text}")

Hello в строке: True
Python в строке: False
world в строке: False

# Коллекции (Структуры данных)

## Списки - list

In [9]:
fruits = ["apple", "banana", "orange"]
numbers = [1, 2, 3, 4, 5]
mixed = [1, "hello", 3.14, True]

print(f'{fruits = }')
print(f'{numbers = }')
print(f'{mixed = }')

fruits = ['apple', 'banana', 'orange']
numbers = [1, 2, 3, 4, 5]
mixed = [1, 'hello', 3.14, True]

In [10]:
print(f'{fruits[0] = }')
print(f'{numbers[1] = }')
print(f'{mixed[2] = }')

fruits[0] = 'apple'
numbers[1] = 2
mixed[2] = 3.14

In [11]:
print(f'{fruits[-1] = }')
print(f'{numbers[-2] = }')
print(f'{mixed[-3] = }')

fruits[-1] = 'orange'
numbers[-2] = 4
mixed[-3] = 'hello'

In [12]:
# Изменение, добавление и удаление элементов
fruits = ["apple", "banana", "orange"]
print(f'Изначальный список: {fruits}')

fruits[0] = "kiwi"
print(f'Измененный список: {fruits}')

Изначальный список: ['apple', 'banana', 'orange']
Измененный список: ['kiwi', 'banana', 'orange']

In [19]:
motorcycles = []
motorcycles = list()
print(f'Изначальный список: {motorcycles}')

motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

print(f'Измененный список: {motorcycles}')

Изначальный список: []
Измененный список: ['honda', 'yamaha', 'suzuki']

In [20]:
print(f'Изначальный список: {motorcycles}')
motorcycles.insert(0, 'ducati')
print(f'Измененный список: {motorcycles}')

Изначальный список: ['honda', 'yamaha', 'suzuki']
Измененный список: ['ducati', 'honda', 'yamaha', 'suzuki']

In [21]:
print(f'Изначальный список: {motorcycles}')
del motorcycles[1]
print(f'Измененный список: {motorcycles}')

Изначальный список: ['ducati', 'honda', 'yamaha', 'suzuki']
Измененный список: ['ducati', 'yamaha', 'suzuki']

In [22]:
print(f'Изначальный список: {motorcycles}')
popped_item = motorcycles.pop()
print(f'Измененный список: {motorcycles}')
print(f'Извлеченный: {popped_item}')

Изначальный список: ['ducati', 'yamaha', 'suzuki']
Измененный список: ['ducati', 'yamaha']
Извлеченный: suzuki

In [23]:
motorcycles = ['ducati', 'honda', 'yamaha', 'suzuki']
print(f'Изначальный список: {motorcycles}')

popped_item = motorcycles.pop(2)
print(f'Измененный список: {motorcycles}')
print(f'Извлеченный: {popped_item}')

Изначальный список: ['ducati', 'honda', 'yamaha', 'suzuki']
Измененный список: ['ducati', 'honda', 'suzuki']
Извлеченный: yamaha

In [24]:
motorcycles = ['ducati', 'honda', 'yamaha', 'suzuki']
print(f'Изначальный список: {motorcycles}')

motorcycles.remove('yamaha')
print(f'Измененный список: {motorcycles}')

Изначальный список: ['ducati', 'honda', 'yamaha', 'suzuki']
Измененный список: ['ducati', 'honda', 'suzuki']

In [25]:
motorcycles = ['ducati', 'honda', 'yamaha', 'suzuki', 'yamaha']
print(f'Изначальный список: {motorcycles}')

motorcycles.remove('yamaha')
print(f'Измененный список: {motorcycles}')

Изначальный список: ['ducati', 'honda', 'yamaha', 'suzuki', 'yamaha']
Измененный список: ['ducati', 'honda', 'suzuki', 'yamaha']

In [27]:
# Сортировка списка методом sort()
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(f'Изначальный список: {cars}')

cars.sort()
print(f'Отсортированный список: {cars}')

cars.sort(reverse=True)
print(f'Отсортированный список: {cars}')

Изначальный список: ['bmw', 'audi', 'toyota', 'subaru']
Отсортированный список: ['audi', 'bmw', 'subaru', 'toyota']
Отсортированный список: ['toyota', 'subaru', 'bmw', 'audi']

In [28]:
# Временная сортировка списка функцией sorted()
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(f'Изначальный список: {cars}')

print(f'Временно отсортированный список: {sorted(cars)}')
print(f'Список: {cars}')

Изначальный список: ['bmw', 'audi', 'toyota', 'subaru']
Временно отсортированный список: ['audi', 'bmw', 'subaru', 'toyota']
Список: ['bmw', 'audi', 'toyota', 'subaru']

In [29]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(f'Изначальный список: {cars}\n')

sorted_cars = sorted(cars)
print(f'Временно отсортированный список: {sorted_cars = }')
print(f'Исходный список после временной сортировки: {cars = }\n')

Изначальный список: ['bmw', 'audi', 'toyota', 'subaru']

Временно отсортированный список: sorted_cars = ['audi', 'bmw', 'subaru', 'toyota']
Исходный список после временной сортировки: cars = ['bmw', 'audi', 'toyota', 'subaru']

In [30]:
cars = ['bmw', 'audi', 'toyota', 'subaru']

sorted_cars = cars.sort()
print(f'Отсортированный список: {sorted_cars = }')
print(f'Исходный список после сортировки: {cars = }')

Отсортированный список: sorted_cars = None
Исходный список после сортировки: cars = ['audi', 'bmw', 'subaru', 'toyota']

In [31]:
# Вывод списка в обратном порядке
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(f'Изначальный список: {cars}')

cars.reverse()
print(f'Список в обратном порядке: {cars}')

Изначальный список: ['bmw', 'audi', 'toyota', 'subaru']
Список в обратном порядке: ['subaru', 'toyota', 'audi', 'bmw']

In [33]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(f'Изначальный список: {cars}')
print(f'Временный список в обратном порядке: {cars[::-1] = }')
print(f'Временный список в обратном порядке: {cars[::-2] = }')
print(f'Список: {cars}')

Изначальный список: ['bmw', 'audi', 'toyota', 'subaru']
Временный список в обратном порядке: cars[::-1] = ['subaru', 'toyota', 'audi', 'bmw']
Временный список в обратном порядке: cars[::-2] = ['subaru', 'audi']
Список: ['bmw', 'audi', 'toyota', 'subaru']

In [34]:
# Определение длины списка
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(f'Изначальный список: {cars}')
print(f'Длина списка: {len(cars)}')

Изначальный список: ['bmw', 'audi', 'toyota', 'subaru']
Длина списка: 4

In [35]:
empty_list = []
print(f'Изначальный список: {empty_list}')
print(f'Длина списка: {len(empty_list)}')

Изначальный список: []
Длина списка: 0

In [36]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(f'{motorcycles[3] = }')

IndexError: list index out of range

In [37]:
empty_list = []
print(f'{empty_list[-1] = }')

IndexError: list index out of range

In [38]:
# Проверка наличия элемента
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(f"bmw в списке: {'bmw' in cars}")
print(f"ferrari в списке: {'ferrari' in cars}")

bmw в списке: True
ferrari в списке: False

## Кортежи - tuple

In [40]:
# Пустой кортеж

empty_tuple = ()
print(f'{type(empty_tuple) = }')
empty_tuple = tuple()
print(f'{empty_tuple = }')

type(empty_tuple) = <class 'tuple'>
empty_tuple = ()

In [41]:
# Кортеж с одним элементом
# ОБЯЗАТЕЛЬНА запятая после элемента!

single_tuple = (5, )
print(f'{single_tuple = }')

not_a_tuple = (5)
print(f'{type(single_tuple) = }')
print(f'{type(not_a_tuple) = }')

single_tuple = (5,)
type(single_tuple) = <class 'tuple'>
type(not_a_tuple) = <class 'int'>

In [42]:
a, b = 1, 2
print(f'{a = }')
print(f'{b = }')

a = 1
b = 2

In [43]:
a = 1, 2
print(f'{a = }')
print(f'{type(a) = }')

a = (1, 2)
type(a) = <class 'tuple'>

In [44]:
# Кортеж из нескольких элементов

coordinates = (100, 20)
colors = "red", "green", "blue"
mixed = (1, "hello", 3.14, True)

print(f'{coordinates = }')
print(f'{colors = }')
print(f'{mixed = }')

coordinates = (100, 20)
colors = ('red', 'green', 'blue')
mixed = (1, 'hello', 3.14, True)

In [45]:
coordinates = (100, 20)
print(f'{coordinates[0] = }')
print(f'{coordinates[1] = }')

coordinates[0] = 100
coordinates[1] = 20

In [46]:
coordinates = (100, 20)
coordinates[1] = 200
print(f'{coordinates = }')

TypeError: 'tuple' object does not support item assignment

In [47]:
colors = ("red", "green", "blue")
print(f"red в кортеже: {'red' in colors}")
print(f"yellow в кортеже: {'yellow' in cars}")

red в кортеже: True
yellow в кортеже: False

In [48]:
# Конкатенация (объединение)
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

result = tuple1 + tuple2
print(f'{result = }')

result = (1, 2, 3, 4, 5, 6)

In [49]:
base_tuple = ('a', 'b')
repeated = base_tuple * 3
print(f'{repeated = }')

repeated = ('a', 'b', 'a', 'b', 'a', 'b')

In [52]:
# Сравнение кортежей
print(f'{(1, 2, 3) == (1, 2, 3) = }')
print(f'{(1, 2, 3) == (1, 2, 4) = }')
print(f'{(1, 2) < (1, 2, 3) = }')
print(f'{(1, 3) > (1, 2) = }')

(1, 2, 3) == (1, 2, 3) = True
(1, 2, 3) == (1, 2, 4) = False
(1, 2) < (1, 2, 3) = True
(1, 3) > (1, 2) = True

In [53]:
# Подсчет вхождения элемента - count()
numbers = (1, 2, 3, 2, 4, 2, 5)
print(f'{numbers.count(2) = }')
print(f'{numbers.count(7) = }')

numbers.count(2) = 3
numbers.count(7) = 0

In [55]:
# Поиск индекса элемента - index()
fruits = ("apple", "banana", "orange", "banana", "grape")

print(f"{fruits.index('banana') = }")
print(f"{fruits.index('banana', 2) = }")
print(f"{fruits.index('banana', 4) = }")

fruits.index('banana') = 1
fruits.index('banana', 2) = 3

ValueError: tuple.index(x): x not in tuple

## Словари - dict

In [59]:
# Пустой словарь
empty_dict = {}
empty_dict = dict()
print(f'{empty_dict = }')

# Способ 1: Фигурные скобки
person = {
    "name": "Эдуард",
    "age": 30,
    "city": "Москва",
}
print(f'{person = }')

# Способ 2: Функция dict()
person2 = dict(name="Иван", age=30, city="СПб")
print(f'{person2 = }')

# Способ 3: Из списка кортежей
pairs = [("name", "Мария"), ("age", 28)]
person3 = dict(pairs)
print(f'{person3 = }')

empty_dict = {}
person = {'name': 'Эдуард', 'age': 30, 'city': 'Москва'}
person2 = {'name': 'Иван', 'age': 30, 'city': 'СПб'}
person3 = {'name': 'Мария', 'age': 28}

In [67]:
# Обращение к значениям в словаре
person = {"name": "Анна", "age": 25, "city": "Москва"}

# Небезопасный способ
print(f"{person['name'] = }")
print(f"{person['age'] = }\n")
# print(f"{person['email'] = }")

# Безопасный способ
print(f"{person.get('name') = }")
print(f"{person.get('email') = }")
print(f"{person.get('email', 'Нет данных') = }")
print(f"{person.get('email', '') = }")
print(f"{person.get('email', 0) = }")

person['name'] = 'Анна'
person['age'] = 25

person.get('name') = 'Анна'
person.get('email') = None
person.get('email', 'Нет данных') = 'Нет данных'
person.get('email', '') = ''
person.get('email', 0) = 0

In [69]:
# Добавление и изменение элементов
person = {"name": "Анна", "age": 25, "city": "Москва"}
print(f"Словарь до добавления: {person}")

person["email"] = "anna@mail.ru"
print(f"Словарь после добавления: {person}")

person["age"] = 26
print(f"Словарь после изменения: {person}")

person.update(name='Иван', email="ivan@mail.ru")
print(f"Словарь после update: {person}")

Словарь до добавления: {'name': 'Анна', 'age': 25, 'city': 'Москва'}
Словарь после добавления: {'name': 'Анна', 'age': 25, 'city': 'Москва', 'email': 'anna@mail.ru'}
Словарь после изменения: {'name': 'Анна', 'age': 26, 'city': 'Москва', 'email': 'anna@mail.ru'}
Словарь после update: {'name': 'Иван', 'age': 26, 'city': 'Москва', 'email': 'ivan@mail.ru'}

In [70]:
person = {
	"name": "Анна",
	"age": 25,
	"city": "Москва",
	"name": "Олег",
}

print(f"{person = }")

person = {'name': 'Олег', 'age': 25, 'city': 'Москва'}

In [72]:
# Удаление элементов
person = {
	"name": "Анна",
	"age": 25,
	"city": "Москва",
	"email": "anna@mail.ru",
}
print(f"Изначальный словарь: {person}")

removed_value = person.pop("age")
print(f"Измененный словарь: {person}")
print(f"Удаленное значение: {removed_value}")

del person["name"]
print(f"Измененный через `del` словарь: {person}")

person.clear()
person = {}
print(f"Словарь после очистки: {person}")

Изначальный словарь: {'name': 'Анна', 'age': 25, 'city': 'Москва', 'email': 'anna@mail.ru'}
Измененный словарь: {'name': 'Анна', 'city': 'Москва', 'email': 'anna@mail.ru'}
Удаленное значение: 25
Измененный через `del` словарь: {'city': 'Москва', 'email': 'anna@mail.ru'}
Словарь после очистки: {}

In [75]:
person = {
	"name": "Анна",
	"age": 25,
}
print(f"`name` в словаре: {'name' in person}")
print(f"`email` в словаре: {'email' in person}")
print(f"25 в словаре: {25 in person}")

`name` в словаре: True
`email` в словаре: False
25 в словаре: False

In [77]:
test_dict = {
    1: True,
    3.14: 0.14,
    True: False,
    (1, 2): 123,
}
print(f'{test_dict = }')
print(f"{test_dict[True] = }")
print(f"{test_dict[(1, 2)] = }")

test_dict = {1: False, 3.14: 0.14, (1, 2): 123}
test_dict[True] = False
test_dict[(1, 2)] = 123

In [78]:
person = {
	"name": "Анна",
	"age": 25,
	"city": "Москва",
	"email": "anna@mail.ru",
}
print(f'{len(person) = }')

len(person) = 4

In [81]:
# Перебор всех пар «ключ-значение»
person = {
	"name": "Анна",
	"age": 25,
	"city": "Москва",
}

# Ключи
print(f'{person.keys() = }')

# Значения
print(f'{person.values() = }')

# Пары ключ-значение
print(f'{person.items() = }')

person.keys() = dict_keys(['name', 'age', 'city'])
person.values() = dict_values(['Анна', 25, 'Москва'])
person.items() = dict_items([('name', 'Анна'), ('age', 25), ('city', 'Москва')])

In [87]:
# Объединение словарей
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

# Способ 1: Оператор | (Python 3.9+)
merged = dict1 | dict2
print(f'{merged = }')

# Способ 2: Распаковка
merged = {**dict1, **dict2}
print(f'{merged = }')

# Способ 3: update()
merged = dict1.copy()
merged.update(dict2)
print(f'{merged = }')

merged = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
merged = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
merged = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [89]:
# !!!!
merged = dict1
merged.update(dict2)
print(f'{merged = }')
print(f'{dict1 = }')

merged = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [90]:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "d": 4}

print(f'{dict1 | dict2 = }')
print(f'{dict2 | dict1 = }')

dict1 | dict2 = {'a': 1, 'b': 3, 'd': 4}
dict2 | dict1 = {'b': 2, 'd': 4, 'a': 1}

## Множество - set

In [94]:
# ВАЖНО: Пустые фигурные скобки создают словарь, а не множество!
empty_dict = {}
empty_set = set()

print(f'{type(empty_dict) = }')
print(f'{type(empty_set) = }\n')

numbers = {1, 2, 3, 4, 5}
fruits = {"apple", "banana", "orange"}
mixed = {1, "hello", 3.14, True}

print(f'{numbers = }')
print(f'{fruits = }')
print(f'{mixed = }\n')

# Из списка (удаляются дубликаты)
numbers_list = [1, 2, 2, 3, 3, 3, 4, 5]
unique_numbers = set(numbers_list)
print(f'{unique_numbers = }')

# Из строки
text = "hello"
chars_set = set(text)
print(f'{chars_set = }')

# Из кортежа
tuple_data = (1, 2, 2, 3)
set_from_tuple = set(tuple_data)
print(f'{set_from_tuple = }')

type(empty_dict) = <class 'dict'>
type(empty_set) = <class 'set'>

numbers = {1, 2, 3, 4, 5}
fruits = {'apple', 'banana', 'orange'}
mixed = {1, 3.14, 'hello'}

unique_numbers = {1, 2, 3, 4, 5}
chars_set = {'l', 'h', 'e', 'o'}
set_from_tuple = {1, 2, 3}

In [95]:
# Добавление элементов
my_set = {1, 2, 3}

my_set.add(4)
my_set.add(2)
print(f'{my_set = }')

my_set.update([5, 6, 7])
my_set.update({8, 9}, [10, 11])
print(f'{my_set = }')

my_set = {1, 2, 3, 4}
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [102]:
# Удаление элементов
my_set = {1, 2, 3, 4, 5, 6}

my_set.remove(3)
print(f'{my_set = }')

my_set.discard(10)
my_set.discard(4)
print(f'{my_set = }')

element = my_set.pop()
print(f'Удален: {element}')
print(f'{my_set = }')

my_set.clear()
print(f'{my_set = }')

my_set = {1, 2, 4, 5, 6}
my_set = {1, 2, 5, 6}
Удален: 1
my_set = {2, 5, 6}
my_set = set()

In [104]:
fruits = {"apple", "banana", "orange"}

print(f"`apple` в списке: {'apple' in fruits}")
print(f"`grape` в списке: {'grape' in fruits}")

`apple` в списке: True
`grape` в списке: False

In [105]:
numbers = {1, 2, 3, 4, 5}
print(f'{len(numbers) = }')

len(numbers) = 5

In [106]:
# Объединение - union
set_a = {1, 2, 3}
set_b = {3, 4, 5}

# Метод union()
union1 = set_a.union(set_b)
print(f'{union1 = }')

# Оператор |
union2 = set_a | set_b
print(f'{union2 = }\n')

# Объединение нескольких множеств
set_c = {5, 6, 7}
print(f'{set_a | set_b | set_c = }')

union1 = {1, 2, 3, 4, 5}
union2 = {1, 2, 3, 4, 5}

set_a | set_b | set_c = {1, 2, 3, 4, 5, 6, 7}

In [107]:
# Пересечение - intersection
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Метод intersection()
intersection1 = set_a.intersection(set_b)
print(f'{intersection1 = }')

# Оператор &
intersection2 = set_a & set_b
print(f'{intersection2 = }\n')

intersection1 = {3, 4}
intersection2 = {3, 4}

In [108]:
# Разность - difference
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7}

# Элементы в A, но не в B
difference1 = set_a.difference(set_b)
difference2 = set_a - set_b
print(f'{difference1 = }')
print(f'{difference2 = }\n')

# Элементы в B, но не в A
difference3 = set_b - set_a
print(f'{difference3 = }')

difference1 = {1, 2, 3}
difference2 = {1, 2, 3}

difference3 = {6, 7}

In [109]:
# Симметричная разность
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Элементы, которые есть только в одном из множеств
sym_diff1 = set_a.symmetric_difference(set_b)
sym_diff2 = set_a ^ set_b

print(f'{sym_diff1 = }')
print(f'{sym_diff2 = }')

sym_diff1 = {1, 2, 5, 6}
sym_diff2 = {1, 2, 5, 6}

In [110]:
# Проверка отношений между множествами
set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}
set_c = {4, 5, 6}

# issubset() - является ли подмножеством
print(f'{set_a.issubset(set_b) = }')
print(f'{set_a <= set_b = }\n')

# issuperset() - является ли надмножеством
print(f'{set_a.issuperset(set_b) = }')
print(f'{set_b >= set_a = }\n')

# isdisjoint() - не имеют общих элементов
print(f'{set_a.isdisjoint(set_c) = }')
print(f'{set_b.isdisjoint(set_c) = }')

set_a.issubset(set_b) = True
set_a <= set_b = True

set_a.issuperset(set_b) = False
set_b >= set_a = True

set_a.isdisjoint(set_c) = True
set_b.isdisjoint(set_c) = False

# Другие типы данных
## Бинарные

In [112]:
data = b"hello"
mutable_data = bytearray(b"hello")
print(data)
print(mutable_data)

b'hello'
bytearray(b'hello')

## Специальные

In [115]:
r1 = range(5)
r2 = range(1, 6)
r3 = range(0, 10, 2)
r4 = range(10, 0, -1)

print(f'{r1 = }\n')

print(f'{list(r1) = }')
print(f'{list(r2) = }')
print(f'{list(r3) = }')
print(f'{list(r4) = }')

r1 = range(0, 5)

list(r1) = [0, 1, 2, 3, 4]
list(r2) = [1, 2, 3, 4, 5]
list(r3) = [0, 2, 4, 6, 8]
list(r4) = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Exception

BaseException
 ├── SystemExit
 ├── KeyboardInterrupt
 ├── GeneratorExit
 └── Exception
      ├── ArithmeticError
      │    ├── ZeroDivisionError
      │    ├── FloatingPointError
      │    └── OverflowError
      ├── LookupError
      │    ├── IndexError
      │    └── KeyError
      ├── OSError
      │    ├── FileNotFoundError
      │    ├── PermissionError
      │    └── ConnectionError
      ├── TypeError
      ├── ValueError
      ├── NameError
      ├── AttributeError
      └── ...

In [116]:
# Ellipsis

ellipsis_obj = ...
print(f'{type(ellipsis_obj) = }')

type(ellipsis_obj) = <class 'ellipsis'>

# Циклы

## Цикл `for`

In [117]:
fruits = ["apple", "banana", "orange"]

for fruit in fruits:
    print(fruit)

apple
banana
orange

In [120]:
a = [1, 2, 3, 4, 5]
sum_squre = 0

for i in a:
  temp = i ** 2
  sum_squre += temp ## sum_squre = sum_squre - temp
print(f'{sum_squre = }')

sum_squre = 55

In [123]:
fruits = ["apple", "banana", "orange"]

for fruit in range(len(fruits)):
    print(fruits[fruit])

apple
banana
orange

In [124]:
text = "Python"
for char in text:
    print(char)

P
y
t
h
o
n

In [127]:
person = {"name": "Anna", "age": 25, "city": "Moscow"}

for key in person:
    print(f"Ключ: {key}")

print('\n')
for value in person.values():
    print(f"Значение: {value}")

print('\n')
for value in person.items():
    print(f"{value}")

print('\n')
for key, value in person.items():
    print(f"{key} - {value}")

Ключ: name
Ключ: age
Ключ: city


Значение: Anna
Значение: 25
Значение: Moscow


('name', 'Anna')
('age', 25)
('city', 'Moscow')


name - Anna
age - 25
city - Moscow

## Цикл с предусловием `while`

In [132]:
count = 1

while count <= 5:
    print(f"Итерация {count}")
    count += 1

Итерация 1

In [135]:
total = 0

while total < 100:
    number = int(input("Введите число: "))
    total += number
    print(f"Текущая сумма: {total}\n")

print(f"Итоговая сумма: {total}")

Введите число: 13
Текущая сумма: 13

Введите число: 25
Текущая сумма: 38

Введите число: 1
Текущая сумма: 39

Введите число: 100
Текущая сумма: 139

Итоговая сумма: 139

In [136]:
# - break
for i in range(10):
    if i == 5:
        break
    print(f'for: {i}')

count = 0
while True:
    if count >= 5:
        break
    print(f'while: {count}')
    count += 1

for: 0
for: 1
for: 2
for: 3
for: 4
while: 0
while: 1
while: 2
while: 3
while: 4

In [137]:
# Пропуск четных чисел
for i in range(10):
    if i % 2 == 0:
        continue
    print(f'Нечетное число: {i}')

# Пропуск определенных элементов
fruits = ["apple", "banana", "cherry", "date"]
for fruit in fruits:
    if fruit == "cherry":
        continue
    print(f'Не cherry: {fruit}')

Нечетное число: 1
Нечетное число: 3
Нечетное число: 5
Нечетное число: 7
Нечетное число: 9
Не cherry: apple
Не cherry: banana
Не cherry: date

# `if`

In [139]:
cars = ['audi', 'bmw', 'subaru', 'toyota']

for car in cars:
	if car == 'bmw':
		print(car.upper())
	else:
		print(car)

# if True:
#   print()
# else:
#   print()

audi
BMW
subaru
toyota

In [142]:
a = 50

if a < 4:
	print(f'{a} < 4')
elif a > 30:
	print(f'{a} > 30')
else:
	print(f'Наши условия не выполнимы')

50 > 30